{% extends "base.html" %}

{% block content %}
<p>This site is allowed to load your secret notes!</p>

<article id="note">Loading...</article>

<textarea id="noteedit"></textarea>

<button onclick="setNote(noteedit.value)">Update note</button>

<script>
const API = "{{api_domain}}";
const MY_ORIGIN = "{{my_domain}}";

async function getNote() {
    const resp = await fetch(`${API}/note?cors-allow-origin=${encodeURIComponent(MY_ORIGIN)}`, {credentials: "include"});
    const txt = await resp.text();

    if(txt === "Cannot read note from the cookie. Perhaps the cookie was missing from the request?") {
        await setNote("DEFAULT NOTE");
    } else {
        note.innerText = txt;
    }
}

async function setNote(newNote) {
    await fetch(`${API}/set-note?cors-allow-origin=${encodeURIComponent(MY_ORIGIN)}`, {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        },
        body: `note=${encodeURIComponent(newNote)}`,
        credentials: "include"
    });

    note.innerText = newNote;
}

getNote();
</script>
{% endblock%}