<h1>haas - http as a service</h1>
Use this service to access kb.quoccacorp.com
<form method="POST">
    <textarea cols="100" rows="30" name="requestBox" id="txtarea"></textarea>
    <br>
    <input type="submit" value="Send"/>
</form>

<br>

<button onclick="reset()">Reset request</button>

<script>
    const DEFAULT_VAL = `GET / HTTP/1.1
Host: kb.quoccacorp.com
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8
Accept-Language: en-US,en;q=0.5
Referer: http://haas.quoccacorp.com/
Content-Type: application/x-www-form-urlencoded
Content-Length: 0
Origin: http://haas.quoccacorp.com
Connection: keep-alive

`;

    if(localStorage.getItem("reqhist") === null) {
        localStorage.setItem("reqhist", DEFAULT_VAL);
    }

    txtarea.value = localStorage.getItem("reqhist");
    txtarea.onkeydown = (e) => {
        localStorage.setItem("reqhist", txtarea.value);
    }

    function reset() {
        txtarea.value = DEFAULT_VAL;
        localStorage.setItem("reqhist", txtarea.value);
    }
</script>
