<div>
    Hmm, we couldn't find what you were looking for
</div>

<div>
    Instead were you looking for these mayhaps?
</div>

<ul>
    <li><a href="simple/savings">savings</a></li>
    <li><a href="simple/credit">credit</a></li>
    <li><a href="simple/credit-cards">credit-cards</a></li>
    <li><a href="simple/bills">bills</a></li>
    <li><a href="simple/fraud">fraud</a></li>
    <li><a href="simple/banking">banking</a></li>
    <li><a href="simple/loans">loans</a></li>
    <li><a href="simple/idontknowwhattowrite">idontknowwhattowrite</a></li>
    <li><a href="simple/a">a</a></li>
    <li><a href="simple/b">b</a></li>
</ul>