<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <title>MFA Development V1</title>
</head>

<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>MFA Development V1</strong></li>
            </ul>
            <ul>
                {% if flag %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
    </main>
</body>

</html>